StructuredTextData  v1.2
config             :
    use_controller               0
    manual_session_start         0
    sound                        0
    enable_denso                 0
    enable_remote                0
    rest_time                  600
    manual_reward_level          5
    denso_speed                  0
    num_reps                  1000
    do_video                     0
    do_tool_change               0
    do_catch_finding             0
    catch_algorithm_on           0
    use_prev_sesh_trial_hist     0
    max_num_tries_per_target     0
    max_num_tries_per_start_loc  0
    task_state_config_files      {
        XM.task_state.config
    }
    task_state_config_schedule    1
    #alternate_occurrence_freq    0
    #alternate_occurrence_rep     0
    #alternate_state_config_files {
    #    XM.task_state.config
    #}
    #alternate_state_config_freq  1
    robot_control_dims           XYZ-IJK-0123456789
    robot_control_mode           VVVVVVVVVVVVVVVVVV
    EM_used_dimensions           0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
    camera_ip                    192.168.2.62
    camera_port                  3456
    robot_control_dims_def     {
        X-dimension of endpoint
        Y-dimension of endpoint
        Z-dimension of endpoint
        Not used
        X component of angular velocity
        Y component of angular velocity
        Z component of angular velocity
        Not used
        Hand DOF 1
        Hand DOF 2
        Hand DOF 3
        Hand DOF 4
        Hand DOF 5
        Hand DOF 6
        Hand DOF 7
        Hand DOF 8
        Hand DOF 9
        Hand DOF 10
    }
    do_rest_trials              0
    rest_freq_reps             32
    rest_trials_per_rep         1
    rest_state_config_file {
        XM.task_state.after.rest.config
    }
;
